{% extends "base.html" %}

{% block page %}
<div class="row">
    <form action="/day" method="get">
        <div class="box">
            <div class="col-sm-6 col-md-6 ">


                <div class="input-group select2-bootstrap-prepend">

          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" data-select2-open="single-prepend-text">
              <span class="fa fa-search"></span>
            </button>
          </span>
                    <select id="single-prepend-text" name="q" class="form-control select2" ui-jp="select2"
                            ui-options="{theme: 'bootstrap'}">
                        <option value="huatai">huatai</option>
                        <option value="xinhu" {% ifequal q 'xinhu' %} selected = "selected" {% endifequal %}>xinhu</option>
                    </select>

                </div>

            </div>
        </div>

        <div class="col-sm-6 col-md-6 ">
            <div class="form-group">
                <div class='input-group date' ui-jp="datetimepicker" ui-options="{
           {% if d %}
                defaultDate: '{{ d }}',
           {% endif %}
                format: 'YYYY-MM-DD',
                icons: {
                  time: 'fa fa-clock-o',
                  date: 'fa fa-calendar',
                  up: 'fa fa-chevron-up',
                  down: 'fa fa-chevron-down',
                  previous: 'fa fa-chevron-left',
                  next: 'fa fa-chevron-right',
                  today: 'fa fa-screenshot',
                  clear: 'fa fa-trash',
                  close: 'fa fa-remove'
                }
              }">
                    <input type='text' class="form-control" name="d"/>
                    <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
              </span>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>NetValue</h3>
                <small>Calculated in last 3 Months</small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline">
                        <a class="nav-link">
                            <i class="material-icons md-18">&#xe863;</i>
                        </a>
                    </li>
                    <li class="nav-item inline dropdown">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe5d4;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href>This week</a>
                            <a class="dropdown-item" href>This month</a>
                            <a class="dropdown-item" href>This week</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Today</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-body">
                <div class="box-body">
                <div id="netValueGraph"  ui-jp="chart" ui-options=" {
                 title: {
        textStyle:{
            fontSize:28,},
        text: '净值',
        subtext: '的净值',
        x: 'center'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            animation: true
        }
    },
    legend: {
        data:['净值'],
        x: 'left'
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    //右上角小工具条
    axisPointer: {
        link: {xAxisIndex: 'all'}
    },
    dataZoom: [
        {
            show: true,
            type: 'slider',
            realtime: true,
            start: 0,
            end: 100,
        }
    ],
    grid: [{
        left: 50,
        right: 50
    }],
    xAxis : [
        {
            gridIndex: 0,
            type : 'category',
            boundaryGap : false,
            axisLine: {onZero: true},
            data: [ {% for item in ArtiInfo %}
'{{ item.date }}',
{% endfor %}
]
        }
    ],
    yAxis : [
        {
            name : '净值',
            type : 'value',
            scale:'true',
        }
    ],
    series : [
        {
            name:'净值',
            type:'line',
            symbolSize: 8,
            hoverAnimation: true,
            data:[
{% for item in ArtiInfo %}
'{{ item.netValue }}',
{% endfor %}
            ],
                      markPoint : {
                          data : [
                              {type : 'max', name: 'Max'},
                              {type : 'min', name: 'Min'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: 'Average'}
                          ]
                      }
        }
    ]
}
" style="height:560px">


                </div>

                <script type="text/javascript">

setTimeout(function(){
    var myChart = echarts.getInstanceByDom(document.getElementById('netValueGraph'));

        var initMoney =[ {% for item in ArtiInfo %}{{ item.netValue }},{% endfor %} ];
        var date =[{% for item in ArtiInfo %}'{{ item.date }}',{% endfor %}];
        var today = "";
        {% for item in ArtiInfo %}
        today='{{ item.date }}';
        {% endfor %}


        myChart.on('click', function (params) {
    if (params.componentType === 'series') {
    $(".detail").show();
        console.log("#"+date[params.dataIndex]);
        console.log(params.data);

        $.getJSON('/locate/',{'a':'xinhu','b':date[params.dataIndex]},function(ret){
         console.log(ret);
            //返回值 ret 在这里是一个列表
            $('#initMoney').html(ret[0]['initMoney']);
            $('#totalMargin').html(ret[0]['totalMargin']);
            $('#marginRatio').html(ret[0]['marginRatio']);
            $('#notional').html(ret[0]['notional']);
            $('#leverage').html(ret[0]['leverage']);
            $('#netNotional').html(ret[0]['netNotional']);
            $('#netLeverage').html(ret[0]['netLeverage']);
            $('#netPosDirection').html(ret[0]['netPosDirection']);

            var table = '';
            for(var j = 0 ;j<=ret[1][0].length - 1;j++){
             table = table + "<tr><th>"+ ret[1][0][j]['contractIndex'] +"</th><th>"+ret[1][0][j]['posToday'] +"</th><th>"+ret[1][0][j]['tradePnl'] +"</th><th>"+ret[1][0][j]['holdPnl'] +"</th><th>"+ret[1][0][j]['commission'] +"</th><th>"+ret[1][0][j]['totalPnl'] +"</th><th>"+ret[1][0][j]['margin'] +"</th></tr>";
            $('#table').html(table);
            }
           for (var i =  1; i <= ret[1].length - 1; i++) {
            dataX=[];
            dataY=[];
           for(var j = 0;j<=ret[1][i].length - 1;j++){
           console.log('contractIndex '+ret[1][i][j]['contractIndex']+' tradePnl'+ret[1][i][j]['tradePnl']+' margin'+ret[1][i][j]['margin']+' totalPnl'+ret[1][i][j]['totalPnl']);
            dataX.push(ret[1][i][j]['contractIndex']);
            switch(i)
            {
            case 1:
              dataY.push(ret[1][i][j]['posToday']);
              break;
            case 2:
              dataY.push(ret[1][i][j]['tradePnl']);
              break;
            case 3:
              dataY.push(ret[1][i][j]['margin']);
              break;
            case 4:
              dataY.push(ret[1][i][j]['commission']);
              break;
            case 5:
              dataY.push(ret[1][i][j]['totalPnl']);
              break;
            }
           }
          // var mychart = echarts.init(document.getElementById('graph'+i),'macarons');
            $("#"+'graph'+i).attr("ui-options","{
    xAxis: {
        type: 'category',
        data: "+dataX+",
        "axisLabel":{
            interval: 0,
            rotate:-90,

        }
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: "+dataY+",
        type: 'bar'
    }]
}");
option = {
    xAxis: {
        type: 'category',
        data: "+dataX+",
        "axisLabel":{
            interval: 0,
            rotate:-90,

        }
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: dataY,
        type: 'bar'
    }]
};

        // 使用刚指定的配置项和数据显示图表。
        mychart.setOption(option);
            };
          })


    }

});
},1000)


$(document).ready(function(){
  $(".detail").hide();
});


                </script>
            </div>

                <script type="text/javascript">
	                    // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('netValueGraph'),'macarons');

        // 指定图表的配置项和数据

var timeData = [
 {% for item in ArtiInfo %}
'{{ item.date }}',
{% endfor %}
];

option = {
    title: {
        textStyle:{
            fontSize:28,},
        text: '净值',
        subtext: '某账号的净值',
        x: 'center'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            animation: true
        }
    },
    legend: {
        data:['净值'],
        x: 'left'
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    //右上角小工具条
    axisPointer: {
        link: {xAxisIndex: 'all'}
    },
    dataZoom: [
        {
            show: true,
            type: 'slider',
            realtime: true,
            start: 0,
            end: 100,
        }
    ],
    grid: [{
        left: 50,
        right: 50
    }],
    xAxis : [
        {
            gridIndex: 0,
            type : 'category',
            boundaryGap : false,
            axisLine: {onZero: true},
            data: timeData
        }
    ],
    yAxis : [
        {
            name : '净值',
            type : 'value',
            scale:'true',
        }
    ],
    series : [
        {
            name:'净值',
            type:'line',
            symbolSize: 8,
            hoverAnimation: true,
            data:[
{% for item in ArtiInfo %}
'{{ item.netValue }}',
{% endfor %}
            ],
                      markPoint : {
                          data : [
                              {type : 'max', name: 'Max'},
                              {type : 'min', name: 'Min'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: 'Average'}
                          ]
                      }
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

      //  var ArtiInfo = {{ ArtiInfo }};

        var initMoney =[ {% for item in ArtiInfo %}{{ item.netValue }},{% endfor %} ];
        var date =[{% for item in ArtiInfo %}'{{ item.date }}',{% endfor %}];
        var today = "";
        {% for item in ArtiInfo %}
        today='{{ item.date }}';
        {% endfor %}


        myChart.on('click', function (params) {
    if (params.componentType === 'series') {
    $(".detail").show();
        console.log("#"+date[params.dataIndex]);
        console.log(params.data);

        $.getJSON('/detail/',{'a':'xinhu','b':date[params.dataIndex]},function(ret){
         console.log(ret);
            //返回值 ret 在这里是一个列表
            $('#initMoney').html(ret[0]['initMoney']);
            $('#totalMargin').html(ret[0]['totalMargin']);
            $('#marginRatio').html(ret[0]['marginRatio']);
            $('#notional').html(ret[0]['notional']);
            $('#leverage').html(ret[0]['leverage']);
            $('#netNotional').html(ret[0]['netNotional']);
            $('#netLeverage').html(ret[0]['netLeverage']);
            $('#netPosDirection').html(ret[0]['netPosDirection']);

            var table = '';
            for(var j = 0 ;j<=ret[1][0].length - 1;j++){
             table = table + "<tr><th>"+ ret[1][0][j]['contractIndex'] +"</th><th>"+ret[1][0][j]['posToday'] +"</th><th>"+ret[1][0][j]['tradePnl'] +"</th><th>"+ret[1][0][j]['holdPnl'] +"</th><th>"+ret[1][0][j]['commission'] +"</th><th>"+ret[1][0][j]['totalPnl'] +"</th><th>"+ret[1][0][j]['margin'] +"</th></tr>";
            $('#table').html(table);
            }
          })


    }

});


$(document).ready(function(){
  $(".detail").hide();
});


                </script>
            </div>
        </div>
    </div>
</div>


<div class="detail">

    <div class="row">
        <div class="col-sm-18">
            <div class="box">
                <div class="box-header">
                    <h2>汇总</h2>
                    <small>Add the base class .table to any &lt;table>.</small>
                </div>
                <div class="box-divider m-a-0"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th>数额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>初始资金/万</td>
                        <td id="initMoney">
                        </td>
                    </tr>
                    <tr>
                        <td>保证金占用/万</td>
                        <td id="totalMargin">
                        </td>
                    </tr>
                    <tr>
                        <td>保证金占用比例</td>
                        <td id="marginRatio">
                        </td>
                    </tr>
                    <tr>
                        <td>商品名义金额/万</td>
                        <td id="notional">
                        </td>
                    </tr>
                    <tr>
                        <td>杠杆率</td>
                        <td id="leverage">
                        </td>
                    </tr>
                    <tr>
                        <td>净头寸名义金额/万</td>
                        <td id="netNotional">
                        </td>
                    </tr>
                    <tr>
                        <td>净杠杆率</td>
                        <td id="netLeverage">
                        </td>
                    </tr>
                    <tr>
                        <td>净头寸方向</td>
                        <td id="netPosDirection">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-18">
            <div class="box">
                <div class="box-header">
                    <h2>汇总</h2>
                    <small>Add the base class .table to any &lt;table>.</small>
                </div>
                <div class="box-divider m-a-0"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th>posToday</th>
                        <th>tradePnl</th>
                        <th>holdPnl</th>
                        <th>commission</th>
                        <th>totalPnl</th>
                        <th>margin</th>
                    </tr>
                    </thead>
                    <tbody id="table">
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


{% endblock %}